header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid cyan;
}

.logo-block > img {
    width: 77px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    max-width: 770px;
    overflow: scroll;
}

.input-search {
    position: relative;
}
.search-result {
    left : -157px;
    position: absolute;
    width: 300px;
    height: 500px;
    background-color: white;
    overflow-y: scroll;
    z-index: 99;
}

.search-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searchFilms {
    display: flex;
    gap : 10px;
    justify-content: space-between;
}

.searchFilms > img {
    width: 155px;
}